* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

:root {
    --Width100: 100%;
    --Max-Widdth: 1280px;
    --Font-Light: lighter;

}

.container {
    max-width: var(--Max-Widdth);
    margin: 0 auto;
}

nav.desktop-menu ul {
    display: flex;
    justify-content: end;
}

nav.desktop-menu ul {
    text-decoration: none;
    list-style-type: none;
}

ul li {
    padding: 4px;
    margin: 0 10px;
    
}

nav.desktop-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

nav.mobile-menu {
    display: none;
}

nav.mobile-menu .direita-menu {
    display: flex;
    justify-content: end;
}

nav.mobile-menu ul {
    list-style-type: none;
    width: var(--Width100);
    position: absolute;
    background-color: white;
    color: white;
    top: 82px;
    left: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

nav.mobile-menu ul li a {
    padding: 0 2%;
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: normal;
}

nav.mobile-menu i {
    font-size: 30px;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


header {
    width: var(--Width100);
    height: 90vh;
    padding: 30px 2%;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-image: url(../imagens/capa.png);
    font-weight: var(--Font-Light);
}

header .logo {
    width: 100%;
    max-width: 260px;
    padding: 0 2%;
    height: 40px;
    float: left;
    background-position: center;
    background-size: cover;
}

.clear {
    clear: both;
}

.chamada1 {
    float: right;
    margin: 168px 35px;
    max-width: 600px;
}

.chamada1 h2 {
    font-size: 45px;
    font-weight: lighter;
    color: white;
}

.chamada1 p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-weight: var(--Font-Light);
}

section.sessao1 {
    width: var(--Width100);
    background-color: #472562;
    padding: 0px 2%;
    height: 400px;
}

section.sessao1 .container {
    max-width: 1000px;
    height: calc(100% + 30px);
}

.texto-sessao1 {
    float: left;
    color: white;
    position: relative;
    left: 60px;
    width: 50%;
    margin-top: 40px;
    padding-left: 80px;
}

.texto-sessao1 h2 {
    font-weight: var(--Font-Light);
    font-size: 26px;
}

.texto-sessao1 p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: var(--Font-Light);
}

.texto-sessao1 ul {
    font-size: 14px;
    list-style-position: outside;
    padding-left: 6px;
}

.texto-sessao1 ul li {
    float: left;
    width: var(--Width100);
    margin-top: 6px;
}

.btn1-texto {
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
    border-radius: 20px;
}

.device-sessao1 {
    float: left;
    position: relative;
    top: -50px;
    width: 50%;
    height: 450px;
    background-image: url(../imagens/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sessao2 {
    padding: 40px 2%;
    background-color: white;
    text-align: center;
}

.sessao2 h2 {
    color: #472663;
    font-weight: var(--Font-Light);
}

.sessao2 p {
    margin-top: 30px;
    max-width: 800px;
    display: inline-block;
}

.sessao2 img {
    position: relative;
    top: 70px;
    width: var(--Width100);
    max-width: 800px;
    margin-top: 5px;
    box-shadow: 0px 0px 8px 0px black;

}

.sessao2 .container {
    max-width: 1000px;
}

.sessao3 {
    width: var(--Width100);
}

.parte1 {
    background-color: #835fa7;
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
}

.parte1 h2 {
    font-weight: var(--Font-Light);
    font-style: italic;
    font-size: 23px;
    padding: 0 30px;
}

.wrapper-parte1 {
    max-width: 600px;
    float: right;
    padding-right: 30px;
}

.parte1 p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
    padding: 0 30px;
    font-weight: var(--Font-Light);

}

.parte2 {
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
}

.sobre-autor {
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

.titulo-autor {
    float: left;
    width: var(--Width100);
}

.wrapper-titulo-autor {
    float: left;
}

.titulo-autor h2 {
    color: #232323;
    font-size: 25px;
    font-weight: 400;
    padding-right: 5px;
}

.titulo-autor p {
    margin-top: 1px;
    font-size: 14px;
    color: #232323;
    font-style: italic;
    font-weight: var(--Font-Light);
}

.titulo-autor .img-autor {
    float: left;
    position: relative;
    top: -4px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: url(../imagens/pedro.png);
    background-position: center;
    background-size: cover;

}

.texto-autor {
    float: left;
    margin-top: 10px;
}

.texto-autor p {
    color: #232323;
    font-size: 15px;

}

.slider-bullets {
    width: var(--Width100);
    float: left;
    margin-top: 13px;
    padding-left: 30px;
}

.centraliza {
    display: flex;
}

.slider-bullets .centraliza div {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgb(200, 200, 200);
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;

}

section.sessao4 {
    background-color: #472563;
    padding: 100px 0;
}

.form {
    float: left;
    width: 50%;
    padding-left: 10px;
}

.form h2 {
    color: white;
    font-size: 20px;
    font-weight: var(--Font-Light);
}

.form p {
    color: white;
    font-size: 15px;
    font-weight: var(--Font-Light);
    max-width: 400px;
    padding-right: 10px;
}

.form form {
    margin-top: 15px;
}

.form form input[type=text] {
    width: 90%;
    max-width: 480px;
    height: 58px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200, 200, 200);
    margin-top: 5px;
}

.form form textarea {
    width: 90%;
    margin-top: 10px;
    max-width: 480px;
    padding: 15px;
    border: 1px solid rgb(200, 200, 200);
    height: 160px;
}

.form form input[type=submit] {
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: 0;

}

.map-wrapper {
    float: left;
    width: 50%;
    color: white;
    padding: 0 10px;
}

.map-wrapper h2 {
    font-size: 23px;
    font-weight: var(--Font-Light);
}

.map-wrapper3 {
    margin-top: 5px;
    position: relative;
    width: var(--Width100);
    max-width: 480px;
}

.map-wrapper2 {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--Width100);
    padding-top: 100%;
    margin-top: 10px;
    max-width: 480px;
}

.map {
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--Width100);
    border: 5px snow gray;
}

footer{
    padding: 40px 2%;
    background-color: #192123;
    color: white;
}
footer p:nth-of-type(1){
    float: left;
    font-size: 14px;
}
footer p:nth-of-type(2){
    float: right;
    font-size: 14px;
}














@media screen and (max-width:580px) {
    .parte1 {
        width: var(--Width100);
        padding: 40px 0;
    }

    .parte2 {
        width: var(--Width100);
        padding: 40px 0;
    }

    .sessao2 img {
        top: 16px;
        margin-top: 5px;


    }
    footer{
       
        text-align: center;
    }
    footer p:nth-of-type(1){
        float: none;
        font-size: 14px;
    }
    footer p:nth-of-type(2){
        float: none;
        font-size: 14px;
        margin-top: 7px;
    }
    
}

@media screen and (max-width:768px) {
    header {
        width: var(--Width100);
        height: auto;
        min-height: 90vh;
        padding: 30px 2%;

    }

    nav.desktop-menu {
        display: none;
    }

    nav.mobile-menu {
        display: block;
    }

    nav.mobile-menu ul {
        display: none;
    }

    .chamada1 {
        max-width: none;
        width: var(--Width100);
        text-align: center;
        float: none;
        margin: 183px 0;
    }

    .chamada1 h2 {
        font-size: 30px;
        padding: 0 10px;
    }

    .chamada1 p {
        margin: 0 auto;
        max-width: 430px;
        width: 91%;
    }

    section.sessao1 {
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .texto-sessao1 {
        width: var(--Width100);
        margin-top: 0;
        position: static;
        padding-left: 0;
        float: none;
        display: inline-block;
    }

    .btn1-texto {
        display: inline-block;
    }

    .texto-sessao1 ul {
        display: inline-block;
        margin-top: 8px;
    }

    .texto-sessao1 p {
        margin-top: 6px;
    }

    .texto-sessao1 ul li {
        float: none;
        text-align: left;
    }

    .device-sessao1 {
        display: none;
    }

    .sessao2 {
        padding-top: 40px;
    }

    .map-wrapper {
        width: var(--Width100);
        float: none;
        margin-top: 20px;
        padding: 0 4%;
    }

    section.sessao4 .container {
        text-align: center;
    }

    .form {
        float: none;
        width: var(--Width100);
    }

    .form p {
        display: inline-block;
    }

    .map-wrapper3 {
        margin-top: 10px;
        position: relative;
        display: inline-block;
        width: 80%;
        padding-top: 80%;
    }

    .map-wrapper2 {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--Width100);
        height: 100%;
        padding-top: 0;
    }

}